<div class="container-fluid">
<section>
 <div class="container"style="width: 70%;">
  <div class="text-center">
    <h1 class="who">Jessica N'ganga</h1>
    <h3 class="what">Rédacteur - Correcteur</h3>
    <hr class="trait">
    <h3 class="whatone">Spécialisé en droit administratif - correction de mémoire</h3>
    <button type="button" class="btn btn-danger btn-lg"">TARIFS ET PRESTATIONS </button>
  </div>
 </div>
</section>
</div>
