<div class="container-fluid">
<section class="service">
 <div class="container"style="width: 70%;">
  <div class="text-center">
    <h1 class="who">Nos services</h1>
    <h3 class="whatone">Spécialisé en droit administratif - correction de mémoire</h3>
    <button type="button" class="btn btn-danger btn-lg"">TARIFS ET PRESTATIONS </button>
  </div>
 </div>
</section>
</div>

<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-top:50px;">
      <div class="col-lg-4">
        <div class="text-center">
          <img src="https://img.icons8.com/dotty/80/000000/file.png">
                 <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      </div>

      <div class="col-lg-4">
        <div class="text-center">
      <img src="https://img.icons8.com/wired/80/000000/pencil.png">
          <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <div class="text-center">
          <img src="https://img.icons8.com/carbon-copy/80/000000/documents.png">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
